/** CSS for FileUploader. */
.fileuploader-newFileInputContainer {
	height: 20px;
	overflow: hidden;
	position: relative;
	width: 100px;
}
.fileuploader-lastNewFileInput {
	cursor: pointer;
	font-size: 23px;
	left: -24px;
	//left: -55px;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	opacity: 0;
	position: absolute;
	top: -16px;
	//top: -11px;
	width: 100px;
	// width: 85px;
	/* z-index: 300000; */
}
.fileuploader-fileNameTip {
	white-space: nowrap;
}
